
#container{
  position: relative;
}
.video-container{
  width: 100%;
}

.overlay{
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 14, 15, 0.651);
  position: absolute;
}

h1{
  left: 35%;
  top: 50%;
  position:absolute;
  color: rgba(255, 255, 255, 0.753);
  font-family:"Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"
}

#btn-container{
  position: absolute;
  left: 10%;
  top:50%;
  z-index: 1221;
}
